<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">

  {% if site.owner.google.verify %}<meta name="google-site-verification" content="{{ site.owner.google.verify }}">
  {% endif %}

  {% if site.owner.bing-verify %}<meta name="msvalidate.01" content="{{ site.owner.bing-verify }}">
  {% endif %}

  {% if site.plugins contains 'jekyll-seo-tag' or site.gems contains 'jekyll-seo-tag' %}
    {% comment %}
      Add metadata for search engines and social networks if jekyll-seo-tag plugin is enabled
    {% endcomment %}
    {% include head-seo.html %}
  {% else %}
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html', '' | absolute_url }}">
  {% endif %}

  <script>
    /* Cut the mustard */
    if ( 'querySelector' in document && 'addEventListener' in window ) {
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'js';
    }
  </script>

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  {% if site.google_fonts %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={%- for font in site.google_fonts -%}{{ font.name | replace: ' ', '+' }}{% if font.weights %}:{% endif %}{{ font.weights | remove: ' ' }}{% if forloop.last != true %}|{% endif %}{%- endfor -%}">
  {% endif %}

  {%- if site.plugins contains 'jekyll-feed' or site.gems contains 'jekyll-feed' -%}
    {%- comment -%}
      Add Atom feed link if jekyll-feed plugin is enabled
    {%- endcomment -%}
    {% include head-feed.html %}
  {%- endif -%}

  {%- if site.head_scripts -%}
    {%- for script in site.head_scripts -%}
      {%- if script contains "://" -%}
        {%- capture script_path %}{{ script }}{% endcapture -%}
      {%- else -%}
        {%- capture script_path %}{{ script | absolute_url }}{% endcapture -%}
      {%- endif -%}
      <script src="{{ script_path }}"></script>
    {%- endfor -%}
  {%- endif -%}

  {% include head-custom.html %}
</head>
