<header class="masthead">
  <div class="wrap">
    {% unless page.image.path %}
      <h1 class="site-title animated fadeIn"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      <p class="site-description animated fadeIn" itemprop="description">{{ site.description }}</p>
    {% endunless %}
  </div>
</header><!-- /.masthead -->
